################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/發牌/.vs/發牌/FileContentIndex
/發牌/發牌/obj/Debug
